header .container {
  background-color: rgb(34, 236, 166);
  padding: 20px;
}

header .container .header-logo {
  color: rgb(73, 69, 69);
  font-size: 50px;
  font-weight: bolder;
  margin-left: 25rem;
}

.card {
  padding: 6px;
  text-align: left;
}
